content
  display: block

  max-width: 72rem
  margin: 0 auto

content > article
  max-width: 42rem
  margin: 0 15rem 5rem


content aside
  position: sticky
  top: 0

  float: right
  clear: right

  width: 14rem
  margin: 0 -15rem 1rem 1rem

  font-size: 0.8em
