header
  kind: fill fixed
  z-index: 9

  height: 3*$m
  padding: 0 15*$m

  line-height: $m

  background: rgba(#FFF, 0.8)
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2)

header nav
  kind: list

  max-width: 42*$m
  margin: 0 auto 5*$m

  & a,
  & strong
    kind: list-item
    padding: $m 0.5*$m
    position: relative
    left: -0.5*$m
    font-weight: normal

header h1
  reset: h1

  position: absolute
  top: 0
  left: 0
  z-index: 9

  width: 14*$m

  & > span,
  & > a
    display: block

    padding: $m

    font-size: 2*$m


