
content > nav
  kind: fill fixed #FFF
  top: 3*$m

  width: 14*$m
  overflow: auto
  padding: 0 0 3*$m

content > nav > a
  kind: block, link
  padding: 0.5*$m $m

.aside-nav-item_2
  padding-left: 2*$m

  font-size: 0.875em

.aside-nav-item_3
  padding-left: 3*$m

  font-size: 0.75em
