// Include all the stuff
@import "stylobate"
$init_wireframe_root = true
@import "stylobate-wireframe"

// Remove or change this if you'd like to use another skin or use full skin names
set-skin-namespace('wireframe')

// Shortcuts to variables
$xs = $wireframe_xs
$s = $wireframe_s
$m = $wireframe_m
$l = $wireframe_l

// Your styles go here

html
  font: 10px/1.5 "Helvetica Neue", Arial, sans-serif

body
  font-size: 18px

.is-hidden
  kind: hidden

a
  kind: link underline

@import "blocks/content"
@import "blocks/nav"
@import "blocks/prism"
@import "blocks/code"
@import "blocks/header"
@import "blocks/langs"

