header h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font: 10px/1.5 "Helvetica Neue", Arial, sans-serif;
}
body {
  font-size: 18px;
}
.is-hidden {
  display: none !important;
}
a {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}
a:hover {
  color: #d00;
}
content {
  display: block;
  max-width: 1080px;
  margin: 45px auto 0;
}
content > article {
  max-width: 630px;
  margin: 0 225px 75px;
}
content aside {
  position: sticky;
  top: 45px;
  float: right;
  clear: right;
  width: 210px;
  margin: 0 -225px 15px 15px;
  font-size: 0.8em;
}
content h1:before,
content h2:before,
content h3:before,
content h4:before,
content h5:before,
content h6:before {
  content: "";
  display: block;
  height: 45px;
  width: 0;
  margin-top: -45px;
}
content > nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  top: 45px;
  width: 210px;
  overflow: auto;
  padding: 0 0 45px;
}
content > nav > a {
  position: relative;
  display: block;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 7.5px 15px;
}
content > nav > a:hover {
  color: #d00;
}
.aside-nav-item_0 {
  font-size: 1.5em;
}
.aside-nav-item_2 {
  padding-left: 30px;
  font-size: 0.875em;
}
.aside-nav-item_3 {
  padding-left: 45px;
  font-size: 0.75em;
}
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
@media print {
}
code[class*="language-"] {
  background: rgba(245,242,240,0.6);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.token a {
  color: inherit;
}
code,
pre,
kbd {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.87em;
  zoom: 1;
}
pre > code {
  font-size: 1em;
}
pre {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  padding: 0;
  margin: 0 -15px 15px;
}
li > pre {
  margin-left: 0;
}
blockquote pre {
  margin-top: 10px;
  margin-left: -18px;
}
pre > code {
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 10px 15px;
  margin-bottom: 0;
}
blockquote pre > code {
  padding-left: 18px;
}
.page pre > code {
  background: rgba(245,242,240,0.4);
}
header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 45px;
  padding: 0 225px;
  line-height: 15px;
  background: rgba(255,255,255,0.8);
}
header nav {
  position: relative;
  display: block;
  text-align: left;
  max-width: 630px;
  margin: 0 auto 75px;
}
header nav > a {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 15px 7.5px;
  position: relative;
  left: -7.5px;
}
header h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 210px;
}
header h1 > span,
header h1 > a {
  display: block;
  padding: 15px;
  font-size: 30px;
}
