html {
  font: 1em/1.5 "Helvetica Neue", Arial, sans-serif;
}
content {
  display: block;
  max-width: 72rem;
  margin: 0 auto;
}
article {
  max-width: 42rem;
  margin: 0 15rem 5rem;
}
aside {
  position: sticky;
  top: 0;
  float: right;
  clear: right;
  width: 14rem;
  margin: 0 -15rem 1rem 1rem;
  font-size: 0.8em;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 14rem;
  overflow: auto;
}
nav > a {
  position: relative;
  display: block;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
nav > a:hover {
  color: #d00;
}
