// Include all the stuff
@import "stylobate"
$init_wireframe_root = true
@import "stylobate-wireframe"

// Remove or change this if you'd like to use another skin or use full skin names
set-skin-namespace('wireframe')

// Shortcuts to variables
$xs = $wireframe_xs
$s = $wireframe_s
$m = $wireframe_m
$l = $wireframe_l

// Your styles go here

html
  font: 1em/1.5 "Helvetica Neue", Arial, sans-serif

content
  display: block

  max-width: 72rem
  margin: 0 auto

article
  max-width: 42rem
  margin: 0 15rem 5rem


aside
  position: sticky
  top: 0

  float: right
  clear: right

  width: 14rem
  margin: 0 -15rem 1rem 1rem

  font-size: 0.8em

nav
  kind: fill fixed #FFF

  width: 14rem
  overflow: auto

nav > a
  kind: block, link
  padding: 0.5rem 1rem
