header h1,
.langs {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font: 10px/1.5 "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 18px;
}

.is-hidden {
  display: none !important;
}

a {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}

a:hover {
  color: #d00;
}

content {
  display: block;
  max-width: 108rem;
  margin: 4.5rem auto 0;
}

content > article {
  max-width: 63rem;
  margin: 0 22.5rem 7.5rem;
}

content aside {
  position: sticky;
  top: 4.5rem;
  float: right;
  clear: right;
  width: 21rem;
  margin: 0 -22.5rem 1.5rem 1.5rem;
  font-size: 0.8em;
}

content h1:before,
content h2:before,
content h3:before,
content h4:before,
content h5:before,
content h6:before {
  content: "";
  display: block;
  height: 4.5rem;
  width: 0;
  margin-top: -4.5rem;
}

content > nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  top: 4.5rem;
  width: 21rem;
  overflow: auto;
  padding: 0 0 4.5rem;
}

content > nav > a {
  position: relative;
  display: block;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
}

content > nav > a:hover {
  color: #d00;
}

.aside-nav-item_0 {
  font-size: 1.5em;
}

.aside-nav-item_2 {
  padding-left: 3rem;
  font-size: 0.875em;
}

.aside-nav-item_3 {
  padding-left: 4.5rem;
  font-size: 0.75em;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

code[class*="language-"] {
  background: rgba(245,242,240,0.6);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token a {
  color: inherit;
}

code,
pre,
kbd {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.87em;
}

pre > code {
  font-size: 1em;
}

pre {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  padding: 0;
  margin: 0 -1.5rem 1.5rem;
}

li > pre {
  margin-left: 0;
}

blockquote pre {
  margin-top: 1rem;
  margin-left: -1.8rem;
}

pre > code {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
}

blockquote pre > code {
  padding-left: 1.8rem;
}

.page pre > code {
  background: rgba(245,242,240,0.4);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 4.5rem;
  padding: 0 22.5rem;
  line-height: 1.5rem;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}

header nav {
  position: relative;
  display: block;
  text-align: left;
  max-width: 63rem;
  margin: 0 auto 7.5rem;
}

header nav > a,
header nav > strong {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1.5rem 0.75rem;
  position: relative;
  left: -0.75rem;
}

header h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 21rem;
}

header h1 > span,
header h1 > a {
  display: block;
  padding: 1.5rem;
  font-size: 3rem;
}

.langs {
  float: right;
  line-height: 4.5rem;
}